:root {
  --primary-color: #f0f1f2;
  --secondary-color: #151426;
  --tertiary-color: #010440;
  --highlight-color: #323673;
  --accent-color: #6A6DA6;
  --primary-com-color: #F2542D;
  --secondary-com-color:#83B692;
}